{% extends 'base.html' %}

{% block breadcrumbs %}
<!--Теги-->
{% with article.tags.all as tags %}
{% if tags %}
<ul class="tags-list">
    <li>Теги:</li>
    {% for tag in tags %}
    <li><a href="{{ tag.get_absolute_url }}">{{ tag.tag }}</a></li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
{% endblock %}


{% block content %}
<h1>{{article.title}}</h1>
{% if article.photo %}
<p><img class="img-article-left" src="{{post.photo.url}}" alt="Фото {{ article.title }}"></p>
{% endif %}

{{article.content|linebreaks}}
{% endblock %}