<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ main_title|default:"Без заголовка" }}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li style="display: inline;">
                    <a href="{% url 'home' %}">главная страница</a>
                </li>
                {% for el in menu %}
                <li style="display: inline;">
                    <a href="{% url el.url_name %}">{{ el.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </header>
    
    {% block content %} {% endblock %}
    
</body>
</html>
